{% extends '../../base.html' %}
{% load static %}
{% block titulo %}
    <title>{{ titulo }}</title>
{% endblock %}
{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div>
                <h2>{{ object.nm_mun }} - {{ object.sigla }}
                <a href="{% url 'editar_municipio' object.pk %}" class="btn btn-warning float-end"><i class="bi bi-pencil-square"></i> Editar</a>
                </h2>
                <hr>
            </div>
        </div>
        <div class="table-responsive">
            <p class="h5"><b>Código:</b> {{ object.cd_mun }}</p>
            <p class="h5"><b>Nome:</b> {{ object.nm_mun }}</p>
            <p class="h5"><b>Sigla:</b> {{ object.sigla }}</p>
            <p class="h5"><b>Área em Km<sup>2</sup>:</b> {{ object.area_km2 }}</p>
            <div id="map" class="col-md-8"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}